*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    box-sizing: border-box;
}

.product{
   position: absolute;
   right: 0;
   top:112px;
    width: 80%;
    text-align: center;
}